body {
  background-color: #213651;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll; }

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%; }
  .title {
    background-image: url("/images/DPLogoB.jpg");
    width: 90%;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .get-started {
    margin-left: auto;
    margin-right: auto; }
    .get-started h1 {
      text-align: center;
      font-size: 2rem; }
    .get-started li {
      padding: 1rem; }
  .knowledge {
    margin-left: auto;
    margin-right: auto; }
    .knowledge h2 {
      text-align: center;
      font-size: 2rem; }
    .knowledge li {
      padding: 1rem; }
  .icons {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .icons .col-sm {
      padding-bottom: 1rem; }
      .icons .col-sm h3 {
        font-size: 1.25rem; }
  .col-sm-8 {
    margin-left: auto;
    margin-right: auto; }
    .col-sm-8 label {
      padding: 0.5rem; }
    .col-sm-8 input {
      padding: 0.5rem; } }

.title {
  background-image: url("/images/DPLogoB.jpg");
  width: 90%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.get-started {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem; }
  .get-started h1 {
    text-align: center; }
  .get-started li {
    padding: 1rem; }

.knowledge {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem; }
  .knowledge h2 {
    text-align: center; }
  .knowledge li {
    padding: 1rem; }

.icons {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(rgba(33, 54, 81, 0.9), rgba(33, 54, 81, 0.9)), url("/images/football.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .icons .col-sm {
    padding: 1rem; }

.how-to-play-container {
  background: linear-gradient(rgba(33, 54, 81, 0.9), rgba(33, 54, 81, 0.9)), url("/images/ballpark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .how-to-play-container .how-to-play {
    padding: 2rem; }
    .how-to-play-container .how-to-play h2 {
      text-align: center; }
    .how-to-play-container .how-to-play li {
      padding: 0.75rem; }
  .how-to-play-container .how-to-win {
    padding: 2rem; }
    .how-to-play-container .how-to-win h2 {
      text-align: center; }
    .how-to-play-container .how-to-win li {
      padding: 0.75rem; }

.col-sm-8 {
  margin-left: auto;
  margin-right: auto; }
  .col-sm-8 h2 {
    padding: 1rem;
    text-align: center; }
  .col-sm-8 label {
    padding: 0.5rem; }
  .col-sm-8 input {
    padding: 0.5rem; }
